bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# Build output
[Dd]ebug/
[Rr]elease/
x64/
x86/
artifacts/

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# NuGet
*.nupkg
packages/

# OS files
Thumbs.db
Desktop.ini
